body {
    color: #495057;
    font-family: Lora, serif;
    font-size: 0.875rem;
    background: #F8F9FA;
}
/* ------------------------- */
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
/* ------------------------- */
[class*="__container"]{
    max-width: 83.125rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;
}
/* ------------------------- */
main {
    flex: 1 1 auto;
}
/* ------------------------- */
.category {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    padding: 0.3125rem 0.625rem;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 120%;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: all 0.3s;
}

.category:hover {
    background: rgba(255, 255, 255, 0.5);

}
/* ------------------------- */
.title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 127.777778%;
    color: #FFFFFF;
}

.title_dark {
    color: #495057;
}
/* ------------------------- */
.text {
    font-size: 0.75rem;
    line-height: 166.6667%;
}